<div class="about jumbotron text-center">
	<h1 class="center">ABOUT</h1>
	<hr class="style-two">
	<br>
	<img class="row col s12" src="img/fillers/fillers.jpg">
	<div class="row">
		<div class="col s12">
            <div class="col s12 m6">
                <h3>OUR MISSION</h3>
                <p>To delight our guests every time by creating an appealing experience straight from our heart. We are dedicated to surpass your expectation in every way possible while providing with superior quality of attentive service.</p>
            </div>
            <div class="col s12 m6">
                <h3>OUR VISION</h3>
                <p>To be the primary choice for guests & associates.</p>
            </div>
            <div class="col s12 m12">
                <h3>OUR TEAM</h3>
                <p>Our experienced and motivated team are equipped with precise education and share the same mindset to naturally deliver on this assurance.</p>
            </div>
		</div>
	</div>
</div>