<div class="jumbotron text-center">
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="img/fashion-show/fashionshow-8.jpg"> <!-- random image -->
                <div class="caption center-align">
                    <h3>25% OFF NEW CLIENTS</h3>
                    <h5 class="light grey-text text-lighten-3">Book your appointment now</h5>
                </div>
            </li>
            <li>
                <img src="img/fashion-show/fashionshow-9.jpg"> <!-- random image -->
                <div class="caption left-align">
                    <h3></h3>
                    <h5 class="light grey-text text-lighten-3"></h5>
                </div>
            </li>
            <li>
                <img src="img/fashion-show/fashionshow-10.jpg"> <!-- random image -->
                <div class="caption right-align">
                    <h3></h3>
                    <h5 class="light grey-text text-lighten-3"></h5>
                </div>
            </li>
        </ul>
    </div>
</div>