<div class="services jumbotron text-center row">
	<h1 class="center">SERVICES</h1>
	<hr class="style-two">
	<div class="col s12 m6">
		<h1>CUTS</h1>
        <p>Womens's Haircuts                                                                        {$50-$100}</p>
        <p>Men's Haircuts                                                                                {$40-$90}</p>
        <p>Fringe Trims                                                                                     {$10}</p>

        <p>Children 10 and under receive 30% off Stylist’s regular price.</p>
        <small>**Service prices do not include taxes or gratuities and are subject to change without notice.</small>
        <h1>STYLE</h1>
        <p>Blow Dry and Styling                                                                     From {$40} -</p>
        <p>Formal Hair Styling (Updo)</p>
        <small>(Price will vary depending on level of Stylist and complexity of work.)</small>
        <p>From {$70}</p>
        <p>Extensions</p>
        <small>We offer both bonded and tape-in extensions. Both services require a consultation prior to making the extension appointment.  Price is quoted after consultation.</small>
        <small>**Service prices do not include taxes or gratuities and are subject to change without notice.</small>
        <h1>TREATMENTS</h1>
        <p>Kérastase Treatments                                                                   {$20-$75}</p>
        <p>Masques                                                                                           {$10-$15}</p>
        <p>Shampoo and conditioner service only                                   {$15}</p>
        <small>These services include shampoo, conditioner and scalp massage but do not include blow-dry/style unless booked separately.</small>
        <small>**Service prices do not include taxes or gratuities and are subject to change without notice.</small>
        <h1>COLOUR</h1>
        <p>Colour Retouch                                                                               From {$70}</p>
        <p>Colour on Virgin Hair                                                                    From {$150} -</p>
        <p>Highlights (Foils/Ombre/Balayage)  From {$120}</p>
        <small>The price on this service varies depending on the amount of hair and the desired effect. Your Colour Designer will quote a price before they begin the work.</small>
        <p>Corrective Colour</p>
        <small>With corrective colour, the goal is to fix the problem and leave the hair in a beautiful, healthy condition. Corrective colour is a process that takes time, and occasionally will require more than one session to reach the desired result. All corrective colour work requires a consultation prior to the appointment date. A price for service will be provided at that time.                                - Price Quoted -</small>
        <p>Blonding From {$100}</p>
        <small>A consultation prior to the appointment date is required. A price for service will be provided at that time.</small>
        <p>Texture From {$250}</p>
        <p>Straightening & Smoothing</p>
        <small>Consultation for a price is determined by how much product is required for length of hair and hair type.</small>
        </div>
        <div class="col s12 m6">
            <img src="img/fashion-show/fashionshow-1.jpg">
        </div>
</div>