<div class="staff jumbotron text-center">
	<h1 class="center">STAFF</h1>
	<hr class="style-two">
    <br>
    <div class="row">
        <div class="col s12 m4 center">
            <img src="img/headshots/headshot-1.jpg">
        </div>
        <div class="col s12 m8">
            <h2>Suzy Vo</h2>
            <p>Suzy's easy going, approachable manner and open minded approach make her easy to work with. She worked and trained at Suki’s for 8 years with the teaching influence of Vidal Sassoon. Her consultations are thorough, non-intimidating and focused on her guest. This and her immense skill make her a client favorite. Suzy can work with all types of hair and is a strong technical cutter with strong finishing and upstyle skills. She loves sharing her knowledge with guests. She is a good choice for anyone. Suzy speaks English and Vietnamese.</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4 center">
            <img src="img/headshots/headshot-2.jpg">
        </div>
        <div class="col s12 m8">
            <h2>Stacy Minkova</h2>
            <p>Stacy is an amazingly talented and focused stylist. She is Vidal Sassoon trained, and worked at Suki’s for 5 years. She is easy to relate to, a great listener, and completely up to date with the latest fashions. Stacy finds inspiration from advanced training and takes classes every chance she gets. Stacy is an excellent communicator and a skilled choice for anyone who wants their hair to make a fashion statement. Stacy speaks English & Bulgarian.</p>
        </div>
    </div>
</div>